.logout-btn {
    color:white;
    font-size: 1.2rem;
   float: right;
   padding: 0.5rem;
   margin: 0.5rem;
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgb(233, 182, 232);
    border-radius: 0.5rem;
}